.cards{
  font-family: 'poppins', sans-serif;
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
  max-width: 288px;

}


.cards__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
}

@media  screen and (max-width:627px) {
  .cards__list{
  grid-template-columns: repeat(auto-fit, 288px);
  gap: 20px;
  }

}