.card{
  width: 100%;
  max-width: 413px;
  position: relative;
}

.card__image{
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__delete-btn{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete.default.svg);
  background-color: transparent;
  border: none;

}

.card__delete-btn:hover {
  background-image: url(../images/delete.svg);
}

.card__title{
  color: #212121;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn{
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}



.card__like-btn:hover { opacity: 0.8; }

.card__like-btn_active {
  background-image: url(../images/like.active.svg);
  opacity: 0.8;
}

.card__like-btn_active:hover{
  opacity: 0.4;
}

@media  screen and (max-width:627px) {
  .card__image{
    height: 288px;
  }
  .card__title{
    max-width: 235px;
  }
  .card{
    max-width: 288px;
  }
}