.card{
  width: 413px;
}

.card__image{
  height:413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__title{
  color: #212121;

}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn{
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

@media  screen and (max-width:627px) {
  .card__image{
    height: 288px;
  }
}