.footer__content{
  width: 100%;
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.footer{
  max-width: 1280px;
  margin: 0 auto;
}