.modal{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview{
  padding: 0 16px;
}

.modal__image-container{
  position: relative;
}

.modal__image{
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;

}

.modal__caption{
  color: white;
  background-color: #212121;
  display: inline-block;
  line-height: 120%;
  padding: 4px 8px;
  border-radius: 8px;
  font-family: 'Poppins',Arial, Helvetica, sans-serif ;
  font-size: 20px;
}

.modal_is-opened{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container{
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;

}

.modal__close-btn{
  position: absolute;
  cursor: pointer;
  top: 32px;
  right: 50px;
  background-color: transparent;
  border: none;


}

.modal__close-btn_type_preview{
  top: 0;
  right: -52.5px;
}

.modal__close-btn:hover{
  opacity: 0.6;
}

.modal__title{
  margin: 0 0 32px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  width: 169px;
}

.modal__form{
  display: flex;
  flex-direction: column;
}

.modal__label{
  margin: 0 0 32px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;

}

.modal__input{
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #21212166;
  height: 52px;
  padding: 16px 12px 16px 12px;
  font-size: 20px;
  box-sizing: border-box;
}



.modal__input::placeholder{
  color: #2121214d;
}

.modal__submit-btn{
  width: 156px;
  height: 52px;
  cursor: pointer;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  color: #FCF5E5;
  padding: 18px 58px;
  background-color: black;
  border-radius: 8px;
  border: none;
  max-width: 100%;
  font-size: 16px;
}

.modal__submit-btn:hover{
  border: none;
  opacity: 0.9;
}





@media  screen and (max-width:480px) {

.modal__container{
  padding: 22px 12px 12px;
  box-sizing: border-box;
}

.modal__close-btn{
  top: 22px;
  right: 12px;
}

  .modal__submit-btn{
  width: 100%;
}

.modal__label{
  margin: 0 0 24px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;

}
.modal__title{
  font-size: 20px;
}
.modal__input{
  font-size: 16px;
}
}

@media  screen and (max-width:627px){
  .modal__close-btn_type_preview{
    top: -48px;
    right: 0;
  }

  .modal__image{
    max-width: unset;
  }

}