.modal{
  visibility: hidden;
  opacity: 0;
  transition: visibilty 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;


}

.modal_is-opened{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container{
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative  ;

}

.modal__close-btn{
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;

}


.modal__title{
  margin: 0 0 32px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  width: 169px;
  height: 32px;
}

.modal__form{
  display: flex;
  flex-direction: column;
}

.modal__label{
  margin: 0 0 32px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  color: #212121;
  opacity: 70%;
  font-size: 16px;

}

.modal__input{
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #21212166;
  width: 630px;
  height: 52px;
  padding: 16px 12px 16px 12px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}



.modal__input::placeholder{
  color: #2121214d;
}

.modal__submit-btn{
  width: 156px;
  height: 52px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  color: #FCF5E5;
  padding: 18px 58px;
  background-color: black;
  border-radius: 8px;
  max-width: 100%;
  font-size: 16px;
}

@media  screen and (max-width:627px) {
.modal__submit-btn{
  width: 100%;
}

.modal__label{
  margin: 0 0 24px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;


}
}