.profile {
  font-family: 'poppins', sans-serif;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33,33,33, 0.4) solid;
}

.profile__avatar{
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column{
  display: flex;
  flex-direction: column;
}

.profile__name{
  font-family: 'poppins', sans-serif;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-orient: vertical;
  max-width: 420px;
}


.profile__description{
  font-family: 'poppins', sans-serif;
  margin: 0;
  width: 97px;
  height: 16px;
  color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn{
  font-family: 'poppins', sans-serif;
  margin-top: auto;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4b3b2b;
  text-align: left;
}

.profile__add-btn{
  font-family: 'poppins', sans-serif;
  height: 59px;
  width: 149px;
  margin: 138px 0px 0px auto;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
}

@media screen and (max-width: 627px){
  .profile{
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar{
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name{
    font-style: 20px;
    margin: 0 0 6px;
    max-width: 288px;


  }

  .profile__column{
     margin: 0 0 20px;
     align-items: center;
  }

  .profile__description{
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__add-btn{
    margin: 0;
    width: 100%;
  }
}