.profile {
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33,33,33, 0.4) solid;
}

.profile__avatar{
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column{
  display: flex;
  flex-direction: column;
}

.profile__name{
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}


.profile__description{
  font-family: 'poppins', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121B2;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 420px;
  -webkit-line-clamp: 3;
}

.profile__edit-btn{
  font-family: 'poppins', sans-serif;
  margin-top: auto;
  background: none;
  border: none;
  color: #212121;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}
.profile__edit-btn:hover { opacity: 0.7; }

.profile__add-btn{
  font-family: 'poppins', sans-serif;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  margin-left: auto;
  margin: 138px 0px 0px auto;
  background-color: #212121;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

 .profile__add-btn:hover { opacity: 0.7; }

@media screen and (max-width: 627px){
  .profile{
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar{
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name{
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;


  }

  .profile__column{
     margin: 0 0 20px;
     align-items: center;
  }

  .profile__description{
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__add-btn{
    margin: 0;
    width: 100%;
  }

}